{
	"server":
	{
    	"host": "irc.esper.net", 
    	"port": 6667,
    	"nick": "BakaBot",
    	"username": "baka",
    	"realname": "powered by cirno",
    	"nickserv": {"username": "BakaBot", "password": "no" }
	},

	"prefix": "@"
}
