groups.admins=list:[*insert your nick here*]
permissions.f=list:[group/admins]
channels.join=list:[your_channels_go_here]
modules.load=list:[module_paths_here_with_.so]
permissions.finfo=list:[group/admins]
permissions.group=list:[group/admins]
permissions.load=list:[group/admins]
permissions.perm=list:[group/admins]
permissions.save=list:[group/admins]
permissions.setf=list:[group/admins]
permissions.unload=list:[group/admins]
permissions.sed=list:[group/admins]
prefix=str:@
server.host=str:irc.esper.net
server.nick=str:BakaBot
server.nickserv.password=str:no
server.nickserv.username=str:BakaBot
server.port=int:6667
server.realname=str:Powered By Cirno Technology
server.username=str:baka
